.random{
    width: 800px;
    height: 200px;
    display: flex;
    color: #fff;
}

.one ,.two,.ans{
    width: 150px;
    height: 100px;
    font-size: 120px;
    background-color: #000;
    color: #fff;
    margin:40px;
    
}

.random a{
    color: #000;  
    margin-top: 80px;
    font-size: 30px;
    
}

#ans{
    width: 500px;
    height: 40px;
    margin-top: 70px;

}

body{
    background-color: aqua;
}